.card {
    background: #000046;
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046); 
    background: linear-gradient(to right, #1CB5E0, #000046);
    border-radius: 24px 24px 24px 48px;
    padding: 48px 48px 48px 308px;
    margin: 84px 0;
    min-width: 640px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    position: relative;
    

    &__content {
        display: flex;
        flex-direction: column;
        width:calc(60vw - 192px);

        &__title {
            margin: 0;
            font-size: 1.5em;
            max-width: 20ch;
            color: #fff;
        }

        &__synopsis {
            text-align: justify;
            margin: 25px 0 24px;
            color: #fff;
        }

        &__download {
            border: 3px solid #f2f2f2;
            color: #ffffff;
            align-self: flex-start;
            text-decoration: none;
            padding: 16px 32px;
            border-radius: 12px;
            transition: 400ms all;

            &:hover {
                background: #000216;
                color: white;
            }
        }
    }

    &__visual {
        width: 240px;
        height: 100%;
        position: absolute;
        top: -24px;
        left: 24px;
        overflow: hidden;
        border-radius: 24px;

        &__img {
            height: 110%;
        }
    }
}