.header {
    background-color: #221f20;

    &__container {
        display: flex;
        justify-content: space-between;

        &__title {
            margin: 24px;
            font-size: 56px;
            color: #D81A24;
        }

        &__subtitles {
            display: flex;
            justify-content: space-around;
            align-items: end;
            padding-bottom: 6px;

            &__subtitle {
                max-width: 200px;
                color: #fff;
                font-size: 16px;
                text-transform: uppercase;
            }
    
            &__img {
                height: 80px;
                padding: 0 24px;
            }
        }
    }
}