@use 'variables';
@use 'header';
@use 'slider';
@use 'cast';
@use 'card';
@use 'form';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variables.$mainBackground;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}